<div style="margin:20px;padding:20px;width:100%;">
  <h2>&#123;&#123;prjDetail.Title&#125;&#125;</h2>
  <hr />
  <div style="width:65%;float: left;">
    <p>Dynamic component created using <b>ngComponentOutlet</b> directive. Below is the code:</p>
    <ol>
      <li>
        <div>In <b>Component2's HTML</b> file:<br />
          <code><pre>&#60;ng-container *ngComponentOutlet="currentComponent;injector:injectData;"&#62;&#60;/ng-container&#62;</pre></code>
        </div>
        <div>In <b>Component2 Typescript (.ts)</b> file:<br />
          <code><pre>constructor(private componentInfoService: ComponentInfoService, injector: Injector) &#123; &#125;

ngOnInit() &#123;
  this.subscription = this.componentInfoService.getComponent().subscribe(data => &#123;
    this.bindTemplate(data);
  &#125;);
&#125;

bindTemplate(component: BaseForm): void &#123;
  component.ImageUrl = '../../assets/prj_struct1.png';
  &#125;
</pre></code>
        </div>
      </li>
      <li>
        <div>In <b> NgComponentOutletComponent's Typescript (.ts)</b> file:<br />
          <code><pre>
injectData: Injector;
currentComponent = NgComponentOutletComponent;
subscription: Subscription;

constructor(private componentInfoService: ComponentInfoService, injector: Injector)  &#123;
  // pass data to the dynamic component using Injector
  const prjDetail = new ProjectStructureModel();
  prjDetail.Title = 'ngComponentOutlet example';

  // inject the necessary data
  this.injectData = Injector.create(&#123;
    providers: [
      &#123; provide: ProjectStructureModel, useValue: prjDetail &#125;,
      &#123; provide: 'ProjectDetails', useFactory: ProjectStructureFactory(), deps: [ProjectStructureModel, this.componentInfoService] &#125;
    ],
    parent: injector
  &#125;);
&#125;            

ngOnInit() &#123;
  this.subscription = this.componentInfoService.getComponent().subscribe(data => &#123;
    this.bindTemplate(data);
  &#125;);
&#125;

bindTemplate(component: BaseForm): void &#123;
  // set data to dynamic component's properties
  component.ImageUrl = '../../assets/prj_struct1.png';
  &#125;
        </pre></code>
        </div>
      </li>
    </ol>
  </div>
  <div style="float: left;">
    <img src="&#123;&#123;ImageUrl&#125;&#125;" width="300">
  </div>
</div>